@using Microsoft.AspNetCore.Components.Web
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@using Client
@namespace Web.Animals
@page "/animals/{id:guid}"
@rendermode InteractiveServer

<PageTitle>@(Animal?.Name ?? string.Empty)</PageTitle>

<h1>@(Animal?.Name ?? string.Empty)</h1>

<div>
    <label>Name</label>
    <span>@(Animal?.Name ?? string.Empty)</span>
    <label>Kind</label>
    <span>@Animal?.Kind.ToString()</span>
</div>

@if(Animal is not null)
{
    <button class="btn btn-primary" @onclick="NavigateToUpdateAnimalPage">Update Animal</button>
    <button class="btn btn-primary" @onclick="DeleteAnimalAsync">Delete Animal</button>
    @if(HasDeletionErrors)
    {
        <div>@DeletionErrorMessage</div>
    }
}
