@namespace Web.Animals

<div>
    <label>Name</label>
    <span>@(Animal.Name ?? string.Empty)</span>
    <label>Kind</label>
    <span>@Animal.Kind.ToString()</span>
    <label>Sex</label>
    <span>@Animal.Sex.ToString()</span>
</div>
