@using Microsoft.AspNetCore.Components.Web
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@using Client
@namespace Web.Animals
@page "/animals/dashboard"
@rendermode InteractiveServer

<PageTitle>Animals Dashboard</PageTitle>

<h1>Animals</h1>

<div>
@foreach (var animal in @Animals)
{
    <AnimalPreview Animal="@animal"/>
}
</div>
