@using Microsoft.AspNetCore.Components.Web
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@using Client
@namespace Web.Animals
@page "/animals"
@rendermode InteractiveServer

<PageTitle>Animals Dashboard</PageTitle>

<h1>Animals</h1>

<button class="btn btn-primary" @onclick="NavigateToCreateAnimalPage">Add a New Animal</button>

<div>
@foreach (var (id, animal) in IdsToAnimals)
{
    <a href="@($"animals/{id}")">
        <AnimalPreview Animal="@animal"/>
    </a>
}
</div>
