@using System.Diagnostics.CodeAnalysis
@page "/counter"
@rendermode InteractiveServer
@attribute [ExcludeFromCodeCoverage(Justification = "Out of the box Blazor example that will be removed.")]

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
