@using System.Diagnostics.CodeAnalysis
@page "/"
@attribute [ExcludeFromCodeCoverage(Justification = "Out of the box Blazor example that will be removed.")]

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
